<!--Custom question Card-->
<div class="card-question card">
  <header class="nav">
    <span class="nav-left"><div class="title-done-value">{{cardInfo.titleDoneValue}}</div><div class="title-done">ASKING QUESTIONS</div></span>
    <span class="nav-right"><div class="title-undone-value">{{cardInfo.titleUndoneValue}}</div><div class="title-undone">ANSWERED QUESTIONS</div></span></header>
  <main class="content">
    <ul class="content-list" *ngFor="let content of cardContent">
    <li class="content"><span><img src="../../../assets/images/comment.png" alt=""><p>{{content.value}}</p></span><p>{{content.content}}</p></li></ul>
  </main>
  <footer><div class="show-more-link">Show more</div><img class="show-more-image" src="../../../assets/images/show-more.fw.png" alt=""></footer>
</div>
<!--End custom question Card-->
