<!--Person info and horizontal navbar-->
<section class="info-nav">
  <div class="top">
    <div class="top-left">
      <img src="../../../assets/images/person-info-pic.fw.png" alt=""><div class="person-infos">
      <span class="person-name-score"><span class="person-name">{{person.name}}</span><span class="person-star"><img src="../../../assets/images/stars.fw.png" alt=""></span> </span>
      <span class="person-occupation"><span class="occupation">{{person.occupation}}</span><img src="../../../assets/images/person-side-button.fw.png" alt=""><span class="learn-button">Learn more</span></span>
      <span class="person-score"><img src="../../../assets/images/person-score-img.fw.png" alt=""><span>{{person.score}} exp</span></span></div>
    </div>
    <div class="top-right">
     <span class="edit" title="edit">  <img  src="../../../assets/images/edit.fw.png" alt=""></span>
     <span class="logout" title="logout"><img  src="../../../assets/images/logout.fw.png" alt=""></span>
    </div>
  </div>
  <div class="bottom"><ul>
    <li class="link">KNOWLEDGE</li><li class="link">COURSE</li><li class="link">EXAM</li>
    <li class="link">Q&A</li><li class="link">NEWS</li><li class="link">ACTIVITY</li><li class="link">FRIENDS</li>
  </ul></div>
</section>
<!--End person info and horizontal navbar-->
