<!--Wrapper-->
<div class="grid">
  <!--Header part-->
  <header class="header">
    <div class="top-left"><img class="person-picture" [src]="person.pic" alt=""><p class="person-name">{{person.name}}</p></div>
    <div class="top-right">
    <div class="begin">
        <img class="profile" src="../assets/images/profile.fw.png" alt="">
        <img class="messages" src="../assets/images/messages.fw.png" alt="">
        <img class="annotations" src="../assets/images/annotations.fw.png" alt="">
        <span class="annotations-value">{{annotationValue}}</span>
    </div>
    <div class="center"><img class="app-symbol" src="../assets/images/app-symbol.fw.png" alt=""></div>
    <div class="end"><input class="search-bar" type="text" placeholder="Type for search"></div></div>
  </header>
  <!--End header part-->

  <!--Left sidenav-->
  <div class="left-side-nav">
      <ul>
        <li><div class="link"><img src="../assets/images/dasboard.fw.png" alt=""><span>DASHBOARD</span></div></li>
        <li><div class="link"><img src="../assets/images/course.fw.png" alt=""><span>COURSE</span></div></li>
        <li><div class="link"><img src="../assets/images/exam.fw.png" alt=""><span>EXAM</span></div></li>
        <li><div class="link"><img src="../assets/images/q&a.fw.png" alt=""><span>Q&A</span></div></li>
        <li><div class="link"><img src="../assets/images/news.fw.png" alt=""><span>NEWS</span></div></li>
      </ul>
  </div>
  <!--End left sidenav-->
  <span style="grid-row: 2/3;grid-column: 2/5;">
  <app-dashboard></app-dashboard>
</span>

  <!--Display area-->
  <main class="display-area">
    <!--Custom course Card-->
    <app-course-card></app-course-card>
    <!--End custom course Card-->

    <!--Custom question Card-->
   <app-question-card></app-question-card>
    <!--End custom question Card-->

     <!--Custom exam Card-->
     <app-exam-card></app-exam-card>
    <!--End custom exam Card-->


    <app-status-card></app-status-card>

  </main>
  <!--End display area-->
</div>
<!--End wrapper-->
